.navbar{
    display: flex;
    padding: 0px 10px 0px 10px;
}
.title{
    text-decoration: none;
    font-family: 'Roboto Slab';
    margin: 0px auto auto 0px;
    color: rgb(247, 247, 247);
    font-size: 40px;
    font-weight: 600;
}
.list {
    padding: 0px;
    margin: auto 0px auto auto;
    width: fit-content;
    display: flex;
    margin-left: auto;
}
.listItems {
    display: inline-block;
    margin: 0px;
    margin-left: 15px;
    padding: 0px;
    font-family: inherit;
    color: rgb(247, 247, 247);
    font-size: x-large;
}
.linkText {
    color: inherit;
    font-family: 'Roboto Slab';
    font-weight: 300;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
}
.linkText:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: all 0.5s;
}
